@mixin variable($variable, $property, $fallback) {
    // Fallback for browsers that don't support css vars
    #{$property}: $fallback;
    #{$property}: var(--#{$variable});
  }
  
  * {
    box-sizing: border-box;
  }

.App {
    font-family: sans-serif;
    text-align: center;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .bar {
    position: fixed;
    width: 100%;
  }
  
  button {
    width: 100%;
    display: block;
    margin: 2rem auto;
    font-size: 1.2rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .images {
    img {
      width: 100%;
    }
  }
  
  .modal-overlay {
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .modal {
    background-color: white;
    border-radius: 3px;
    padding: 2rem 3rem;
    text-align: center;
  }

  
.image-container {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
  
    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  


.main {
    padding: 100px;
    text-align: center;
  }
  
  .theme-changer {
    margin-top: 30px;
    label {
      margin: 0 12px;
    }
  }
  
  .button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s ease;
  
    @include variable(button-border, border, none);
    @include variable(button-padding, padding, 1rem);
    @include variable(button-border-radius, border-radius, 0);
    @include variable(button-font-weight, font-weight, normal);
    @include variable(button-font-size, font-size, 1.2rem);
    @include variable(button-text-transform, text-transform, uppercase);
  
    @include variable(button-color, color, #000);
    @include variable(button-background, background, #fff);
  
    &:hover {
      @include variable(button-hover-border, border, none);
      @include variable(button-hover-color, color, #000);
      @include variable(button-hover-background, background, #efefef);
      @include variable(button-hover-transform, transform, none);
    }
  
    &:active {
      @include variable(button-active-border, border, none);
      @include variable(button-active-color, color, #000);
      @include variable(button-active-background, background, #ccc);
      @include variable(button-active-transform, transform, none);
    }
  
    &:focus {
      // Don't do this in production for accessibility reasons
      outline: 0;
    }
  }
  


  .editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }